  <!-- server page for deevelopment mode -->
<div class="card bg-light mb-3" style="max-width: 60rem;">
    <h3 class="font-weight-bold card-title ms-3">Internal Server Error</h3>
    <h6 class="card-subtitle ms-4 text-muted">Refreshing the page will make the error disappear</h6>
    <hr>
    <div class="card-body">
      <ng-container>
        <h5 *ngIf="error.message" class="text-danger">Error: {{error.message}}</h5>
        <p class="card-text">Possible steps to take:</p>
        <ol>
          <li>Open dev tools</li>
          <li>Inspect the network tab </li>
          <li>Check the failing requests</li>
          <li>Examine the request URL and make sure it is correct</li>
          <li>Reproduce the error in Postman - if we see the same response, then the issue is not with Angular</li>
        </ol>
        <p class="card-text">Follow stack trace to investigate root of the error!</p>
        <code class="mt-5" style="background-color: whitesmoke;"> {{error.details}} </code>
      </ng-container>
  </div>
</div>
