<!-- Shows the member details, including profile picture,
    date last active and created, country and city. -->
<div class="row" *ngIf="member">
  <div class="col-4">
    <div class="card">
      <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.alias}}"
        class="card-img-top img-thumbnail">
      <div class="card-body">
        <!-- country -->
        <div>
          <strong>Location:</strong>
          <p>{{member.city}}, {{member.country}}</p>
        </div>
        <!-- Age -->
        <div>
          <strong>Age:</strong>
          <p>{{member.age}}</p>
        </div>
        <!-- Last Active and Created Dates -->
        <div>
          <strong>Member Since:</strong>
          <p>{{member.created | date: 'longDate'}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{member.lastActive | date: 'longDate'}}</p>
        </div>
        <!-- Like and Message -->
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary mr-2">Like</button>
            <button class="btn btn-success">Message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <tabset class="member-tabset">
      <!-- About Tab -->
      <tab heading="About {{member.alias}}">
        <h4>Description:</h4>
        <p>{{member.introduction}}</p>
        <h4>Looking For:</h4>
        <p>{{member.lookingFor}}</p>
      </tab>
      <!-- Interests Tab -->
      <tab heading="Interests">
        <h4>Interests:</h4>
        <p>{{member.interests}}</p>
      </tab>
      <!-- Photos Tab -->
      <tab heading="Photos">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style="display: inline-block; margin-bottom: 1%; margin-left: 2%;"></ngx-gallery>
      </tab>
      <!-- Messages Tab -->
      <tab heading="Messages">
        <h4>Messages:</h4>
       </tab>
    </tabset>
  </div>
</div>
