<div class="row" *ngIf="member">
  <div class="col-4">
    <h1>Your Profile:</h1>
  </div>
  <div class="col-8">
    <div class="alert alert-dismissible alert-secondary" *ngIf="editForm.dirty">
      <strong>Information: </strong> You have made changes. Any unsaved changes will be lost!
    </div>
  </div>
  <div class="col-4">
      <div class="card bg-light">
        <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.alias}}"
          class="card-img-top img-thumbnail">
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{member.city}}, {{member.country}}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{member.age}}</p>
          </div>
          <div>
            <strong>Member Since:</strong>
            <p>{{member.created | date: 'longDate'}}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{member.lastActive | timeago}}</p>
          </div>
        </div>
          <div class="card-footer">
            <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-outline-success btn-block">Save Changes</button>
          </div>
        </div>
      </div>
    <div class="col-8">
      <tabset class="member-tabset">
        <!-- About section -->
        <tab heading="About {{member.alias}}">
          <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
            <h4 style="text-align: center;"><strong>Description</strong></h4> <hr>
            <textarea class="form-control" [(ngModel)]="member.introduction" name="introduction" rows="6"></textarea>
            <h4 class="mt-2" style="text-align: center;"><strong>Looking For</strong></h4> <hr>
            <textarea class="form-control" [(ngModel)]="member.lookingFor" name="lookingFor" rows="6"></textarea>
            <h4 class="mt-2" style="text-align: center;"><strong>Interests</strong></h4> <hr>
            <textarea class="form-control" [(ngModel)]="member.interests" name="interests" rows="6"></textarea>
            <h4 class="mt-2" style="text-align: center;"><strong>Location</strong></h4>
            <hr>
            <div class="form-inline">
              <label for="city"> <h6><strong>City:</strong></h6></label>
              <input [(ngModel)]="member.city" type="text" name="city" class="form-control mx-2">
              <label class="ml-4" for="country"> <h6><strong>Country:</strong></h6>:</label>
              <input [(ngModel)]="member.country" type="text" name="country" class="form-control ml-2">
            </div>
          </form>
        </tab>
       <tab heading="Edit Photos">
          <app-photo-editor [member]="member"></app-photo-editor>
        </tab>
      </tabset>
  </div>



