<div class="text-center mt-3">
  <h2>Found {{pagination?.totalItems}} Matches</h2>
</div>

<div class="container mt-3">
  <form #form="ngForm" (ngSubmit)="loadMembers()" autocomplete="off" class="d-flex mb-3">
    <!-- min age filter -->
    <div class="d-flex mx-2">
      <label class="col-form-label me-2"> <h5 class="text-primary">Min Age :</h5></label>
      <input type="number" class="age-input form-control"
        name="minAge" [(ngModel)]="userParams.minAge">
    </div>
    <!-- max age filter -->
    <div class="d-flex px-3">
      <label class="col-form-label me-2"> <h5 class="text-primary">Max Age :</h5></label>
      <input type="number" class="age-input form-control"
        name="maxAge" [(ngModel)]="userParams.maxAge">
    </div>
    <!-- gender filter -->
    <div class="d-flex px-1">
      <label class="col-form-label"> <h5 class="text-primary">Show :</h5></label>
      <select class="form-select-input form-control ms-1" style="width: 10rem; height: 3.1rem"
        name="gender" [(ngModel)]="userParams.gender">
        <option *ngFor="let gender of genderList" [value]="gender.value">
          {{gender.display}}
        </option>
      </select>
      <!-- Apply filter/reset buttons -->
    </div>
    <button class="filter btn-primary ms-1" type="submit">Apply Filters</button>
    <button (click)=" resetFilters()" class="filter btn-info ms-1" type="submit">Reset Filters</button>

    <!-- Oder By buttons -->
    <div class="col">
      <div class="btn-group ms-2 mt-2">
        <!-- last active button -->
        <button
          class="btn-primary"
          type="button"
          name="oderBy"
          (click)="loadMembers()"
          btnRadio="lastActive"
          [(ngModel)]="userParams.orderBy">
          LastActive
        </button>
        <!-- last created button -->
        <button
          class="btn-primary ms-1"
          type="button"
          name="oderBy"
          (click)="loadMembers()"
          btnRadio="created"
          [(ngModel)]="userParams.orderBy">
          Newest Members
        </button>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div *ngFor="let member of members" class="col-2">
    <app-member-card [member] ="member"></app-member-card>
  </div>
</div>
<!-- allow users to select between paginated pages -->
<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;">
  </pagination>
</div>
